body {
    background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/89/88/tG1Krm.jpg");
    background-color:  hsla(208, 64%, 89%, 0.452);
}

.hero-body {

    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #1140cb81 50%, #f4ffb38e 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #1141CB 50%, #F4FFB3 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #1141CB 50%, #F4FFB3 100%);
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.title {
    text-align: center;
    padding: 20px;
}

.card {
    /* height: 100vh; */
    padding: 10px;
    opacity: 0.85;
    width: 30%;
}



#searchBtn {

    padding: 5px;
    margin-bottom: 25px;
    width: 8rem;
}

.container {

    padding: 0px;
    /* max-width: 1400px; */
}

.row {
    margin: 0px;
    width: 100%;
}

#cityName {
    position: relative;

    width: 8rem;
    padding-left: 10px;
    width: 100%
}


.forecastToday{

    padding: 10px;
    background-color: rgba(102, 100, 100, 0.404);
    width: 70%;
    text-align: center;
}


#fiveDays {
    padding: 10px;
    background-color: rgba(67, 103, 149, 0.527);
    width: 100%;


}

footer {
    background-color: rgba(0, 0, 0, 0.527);
    color: rgb(224, 221, 221);
}
